# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Inicia Banco de Dados
      run: docker compose up -d postgres

    - name: Wait for Postgres to be ready
      run: |
        echo "Aguardando o Postgres subir..."
        for i in {1..20}; do
          if docker exec $(docker ps -qf "name=postgres") pg_isready > /dev/null 2>&1; then
            echo "Postgres está pronto!"
            exit 0
          fi
          echo "Aguardando... ($i/20)"
          sleep 2
        done
        echo "Postgres não ficou pronto a tempo."
        exit 1


    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.59
        args: controllers/ database/ models/ routes/

    - name: Test
      run: DB_HOST=${{ secrets.DB_HOST }} DB_PASSWORD=${{ secrets.DB_PASSWORD }} DB_USER=${{ secrets.DB_USER }} DB_NAME=${{ secrets.DB_NAME }} DB_PORT=${{ secrets.DB_PORT }} go test -v main_test.go
